<main class="section main">
  <div class="container-fuild">
    <div class="e1-all-posts">
      <div>
        <h1>All Posts</h1>
        <div style="display:inline-flex">
            <a  class="mr-5" routerLink="/">Home /</a>
            <p>All Posts</p>
        </div>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="row e-plush-all-posts">
      <div class="col-8">
        <div class="post-1">
          <img src="./assets/images/image-5-copyright.jpg" alt="">
          <div class="text-post">
            <p class="date">26 JUN. 2019</p>
            <h1>How to Pick up the Right Band for Your Watch</h1>
            <span>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril…</span>
            <div>
              <a href="#">read more</a>
            </div>
          </div>
        </div>
        <div class="post-1">
          <img src="./assets/images/image-45-copyright-962x542.jpg" alt="">
          <div class="text-post">
            <p class="date">26 JUN. 2019</p>
            <h1>How to Pick up the Right Band for Your Watch</h1>
            <span>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril…</span>
            <div>
              <a href="#">read more</a>
            </div>
          </div>
        </div>
        <div class="post-1">
          <img src="./assets/images/image-40-copyright-962x542.jpg" alt="">
          <div class="text-post">
            <p class="date">26 JUN. 2019</p>
            <h1>How to Pick up the Right Band for Your Watch</h1>
            <span>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril…</span>
            <div>
              <a href="#">read more</a>
            </div>
          </div>
        </div>
        <div class="post-1">
          <img src="./assets/images/image-1-copyright-962x542.jpg" alt="">
          <div class="text-post">
            <p class="date">26 JUN. 2019</p>
            <h1>How to Pick up the Right Band for Your Watch</h1>
            <span>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril…</span>
            <div>
              <a href="#">read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="table-1">
          <h1>Search</h1>
          <div style="display: flex;">
            <input type="text" placeholder="Search ....">
            <button><span class="material-symbols-outlined">
              search
              </span></button>
          </div>
        </div>
        <div class="table-2">
          <h1>Categories</h1>
          <ul>
            <li>ACCESSORIES</li>
            <li>ENGRAVING</li>
            <li>MAINTAINING</li>
            <li>MOVEMENTS</li>
            <li>WATCHES</li>
          </ul>
        </div>
        <div class="table-3">
          <h1>Most Popular</h1>
          <ul>
            <li class="row">
              <div class="col-4">
                <img src="./assets/images/product-1-1.png" alt="">
              </div>
              <div class="col-8">
                <h3>Guana Red Lawson Hand Watch</h3>
                <p>$45.00</p>
              </div>
            </li>
            <li class="row">
              <div class="col-4">
                <img src="./assets/images/product-1-2.png" alt="">
              </div>
              <div class="col-8">
                <h3>Guana Red Lawson Hand Watch</h3>
                <p>$45.00</p>
              </div>
            </li>
            <li class="row">
              <div class="col-4">
                <img src="./assets/images/product-1-3.png" alt="">
              </div>
              <div class="col-8">
                <h3>Guana Red Lawson Hand Watch</h3>
                <p>$45.00</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="table-4">
          <h1>Calendar</h1>
          <div id="calendar_wrap" class="calendar_wrap"><table id="wp-calendar" class="wp-calendar-table">
            <caption>June 2020</caption>
            <thead>
            <tr>
              <th scope="col" title="Monday">M</th>
              <th scope="col" title="Tuesday">T</th>
              <th scope="col" title="Wednesday">W</th>
              <th scope="col" title="Thursday">T</th>
              <th scope="col" title="Friday">F</th>
              <th scope="col" title="Saturday">S</th>
              <th scope="col" title="Sunday">S</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td colspan="5" class="pad">&nbsp;</td><td>1</td><td>2</td>
            </tr>
            <tr>
              <td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td>
            </tr>
            <tr>
              <td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td>
            </tr>
            <tr>
              <td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td>
            </tr>
            <tr>
              <td>24</td><td>25</td><td><a href="https://reprizo.axiomthemes.com/2019/06/26/" aria-label="Posts published on June 26, 2019" data-mouse-helper="hover" data-mouse-helper-icon="icon-right-big" class="">26</a></td><td>27</td><td>28</td><td>29</td><td>30</td>
            </tr>
            </tbody>
            </table><nav aria-label="Previous and next months" class="wp-calendar-nav">
              <span class="wp-calendar-nav-prev">&nbsp;</span>
              <span class="pad">&nbsp;</span>
              <span class="wp-calendar-nav-next">&nbsp;</span>
            </nav></div>
        </div>
        <div class="table-5">
          <h1>Shop by Tag</h1>
          <div class="row">
            <a class="col">Accessories</a>
            <a class="col">Bracelet</a>
            <a class="col">earrings</a>
            <a class="col">Gems</a>
            <a class="col">Necklace</a>
            <a class="col">Quality</a>
            <a class="col">ring</a>
            <a class="col">Watches</a>
            <a class="col">Water-resistant</a>
          </div>
        </div>
        <div class="table-6">
          <h1>Recent Comments</h1>
          <div>
            <p>Peter Green on<a href="#"> Sonata Analog Gold Dial Women’s Watch</a></p>
          </div>
          <div>
            <p>Peter Green on<a href="#"> Sonata Analog Gold Dial Women’s Watch</a></p>
          </div>
          <div>
            <p>Peter Green on<a href="#"> Sonata Analog Gold Dial Women’s Watch</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
