<div class="section main">
    <div class="container-fuild">
        <div class="e1-our-history">
            <div>
                <h1>Our History</h1>
                <div style="display:inline-flex">
                    <a class="mr-5" routerLink="/">Home /</a>
                    <p>Our History</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="e2-our-history">
            <div class="row">
                <div class="col-6">
                    <img src="./assets/images/image-5-copyright.jpg" alt="">
                </div>
                <div class="col-6 text-e2">
                    <h1>Reprizo Is the Repair Service You Can Trust</h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed expedita unde voluptatibus, explicabo odit dicta optio quae eius quo quas assumenda numquam quos saepe architecto doloribus perferendis fuga qui? Fuga. </p>
                    <img src="./assets/images/signature.png" alt="">
                </div>
            </div>
        </div>
        <div class="e3-our-history">
            <div class="row">
                <div class="col">
                    <h1>2,568</h1>
                    <p>clients</p>
                </div>
                <div class="col">
                    <h1>38</h1>
                    <p>stores</p>
                </div>
                <div class="col">
                    <h1>11,587</h1>
                    <p>item fixed</p>
                </div>
                <div class="col">
                    <h1>58</h1>
                    <p>professionnals</p>
                </div>
                <div class="col">
                    <h1>4</h1>
                    <p>locations</p>
                </div>
            </div>
        </div>
        <div class="e4-our-history">
            <div>
                <h1>The Best of Professionals</h1>
                <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus</p>

            </div>
        </div>
        <div class="e5-our-history">
            <div class="row">
                <div class="col-3">
                    <img src="./assets/images/team-1-copyright.jpg" alt="#">
                    <div class="text-bl">
                        <p>repair master</p>
                        <h1>David Perkins</h1>
                    </div>
                </div>
                <div class="col-3">
                    <img src="./assets/images/team-2-copyright.jpg" alt="#">
                    <div class="text-bl">
                        <p>repair master</p>
                        <h1>David Perkins</h1>
                    </div>
                </div>
                <div class="col-3">
                    <img src="./assets/images/team-3-copyright.jpg" alt="#">
                    <div class="text-bl">
                        <p>repair master</p>
                        <h1>David Perkins</h1>
                    </div>
                </div>
                <div class="col-3">
                    <img src="./assets/images/team-4-copyright.jpg" alt="#">
                    <div class="text-bl">
                        <p>repair master</p>
                        <h1>David Perkins</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="e6-our-history">
            <div class="row">
                <div class="col-6">
                    <div class="form-our-history ">
                        <h1>Drop a Line</h1>
                        <form action="#">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="First name">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Last name">
                                </div>
                                <textarea class="col-12" name="Message" id="" cols="30" rows="10" placeholder="Message"></textarea>
                                <div class="col-12" style="display: flex;" >
                                    <input type="checkbox" class="input-check">
                                    <p>I have read and agree to the Privacy Policy</p>
                                </div>
                                <div>
                                  <button class="btn btn-secondary">send message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6">
                    <div id="map" >
                      <div *ngIf="apiLoaded | async">
                        <google-map height="500px"
                                    width="558px"></google-map>
                      </div></div>
                </div>
            </div>
        </div>
    </div>

</div>

