<main class="section">
  <div class="container-fuild">
    <div class="e1-team">
      <div>
        <h1>Team of Professionals</h1>
        <div style="display:inline-flex">
            <a class="mr-5" routerLink="/">Home / </a>
            <p > Team of Professionals</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="e2-team">
      <div class="row">
          <div class="col-6">
              <img src="./assets/images/image-5-copyright.jpg" alt="">
          </div>
          <div class="col-6 text-e2">
              <h1>Reprizo Is the Repair Service You Can Trust</h1>
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed expedita unde voluptatibus, explicabo odit dicta optio quae eius quo quas assumenda numquam quos saepe architecto doloribus perferendis fuga qui? Fuga. </p>
              <img src="./assets/images/signature.png" alt="">
          </div>
      </div>
    </div>
    <div class="e3-team">
      <div>
          <h1>The Best of Professionals</h1>
          <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus</p>

      </div>
  </div>
    <div class="e4-team">
      <div class="row">
          <div class="col-3">
              <img src="./assets/images/team-1-copyright.jpg" alt="#">
              <div class="text-bl">
                  <p>repair master</p>
                  <h1>David Perkins</h1>
              </div>
          </div>
          <div class="col-3">
              <img src="./assets/images/team-2-copyright.jpg" alt="#">
              <div class="text-bl">
                  <p>repair master</p>
                  <h1>David Perkins</h1>
              </div>
          </div>
          <div class="col-3">
              <img src="./assets/images/team-3-copyright.jpg" alt="#">
              <div class="text-bl">
                  <p>repair master</p>
                  <h1>David Perkins</h1>
              </div>
          </div>
          <div class="col-3">
              <img src="./assets/images/team-4-copyright.jpg" alt="#">
              <div class="text-bl">
                  <p>repair master</p>
                  <h1>David Perkins</h1>
              </div>
          </div>
      </div>
  </div>
  </div>
</main>
